.weatherTitle {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.info {
  display: flex;
  background-color: #adffd9;
  border-style: dashed;
  padding: 2px 20px;
  margin-top: 30px;
  position: absolute;
}

.info ul {
  padding-left: 0;
}

.vacancy {
  display: flex;
  justify-content: flex-end;
  width: 91%;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.weather-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 245px;
  margin-top: -58px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  background: linear-gradient(45deg, #fe9e96, #7f4f73);
  height: 77px;
}
.header-vacancy {
  display: flex;
  background: linear-gradient(45deg, #fd9d94, #7f4f73);
  height: 77px;
}

.list {
  margin: 0 auto;
  width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}

.list-item {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  font-size: 14px;
  border: 1px solid #e7e7e7;

  text-decoration: none;
  color: #000;
}

.vacancy-name {
  text-decoration: none;
  color: blue;
  flex-basis: 100%;
  font-size: 30px;
}

.vacancy-name :hover {
  text-decoration: underline;
}

.vacancy-salary {
  flex: 0 0 auto;
  font-size: 20px;
  margin: 15px;
}

.vacancy-text {
  font-size: 20px;
}

.vacancy-city {
  font-size: 15px;
  color: #999999;
  margin: 18px;
}

.content {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  color: #000;
}

.logo {
  margin-left: auto;
  position: absolute;
  left: 735px;
  bottom: 330px;
  max-height: 300px;
}

.input {
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
}

.submitButton {
  border: 1px solid grey;
  background-color: #fd9d94;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton:hover {
  background-color: #915983;
}

.button-back {
  background-color: #d0784f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.clear-button {
  background-color: #d0784f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  margin-left: auto;
}
