.weatherTitle {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.info {
  display: flex;
  background-color: #adffd9;
  border-style: dashed;
  padding: 2px 20px;
  margin-top: 30px;
  position: absolute;
}

.info ul {
  padding-left: 0;
}

.vacancy {
  display: flex;
  justify-content: flex-end;
  width: 91%;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.weather-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 245px;
  margin-top: -58px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  background: #333;
  height: 77px;
}
.header-vacancy {
  display: flex;
  background: #333;
  height: 77px;
}

.list {
  margin: 0 auto;
  width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}

.list-item {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  font-size: 14px;
  font-family: Arial;
  border: 0.5px solid #f1c846;
  text-decoration: none;
  color: #000;
}

.vacancy-name {
  text-decoration: none;
  font-family: Arial;
  color: #0099ff;
  flex-basis: 100%;
  font-size: 30px;
  
  display: flex;
  
}

.block{
  margin: 0px;
}

.block2{
  margin-left: auto;
}

.vacancy-name :hover {
  color: #d30000;
}

.vacancy-salary {
  font-family: Arial;
  font-size: 20px;
  margin-bottom: 15px;
}

.vacancy-text {
  font-size: 20px;
  font-family: Arial;
}

.vacancy-city {
  font-size: 15px;
  color: #999999;
  margin-bottom: 10px;
  font-family: Arial;
  margin-bottom: 15px;
}

.content {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  font-size: 17px;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  color: #000;
  font-family: Arial;
}

.logo {
  
  
}

.text {
  /* display: flex;
  flex-direction: column; */
}

.input {
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
}

.submitButton {
  text-align: center;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  height: 19px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #40c781;
  box-shadow: 0 -3px #35a76e inset;
  transition: 0.2s;
}

.submitButton:hover {
  background: #35a76e;
}

.submitButton:active {
  background: #21935a;
  box-shadow: 0 3px #21935a inset;
}


.button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 23px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  margin-left: 20px;
  color: #ffffff; 
  text-decoration: none; 
  user-select: none;
  background: #d44b38;
  padding: .7em 1.5em;
}

.button-back:hover {
  background: #e85f4c;
}

.button-back:active {
  background: #980f00;
}

.clear-button {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 23px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  margin-left: auto;
  color: #ffffff; 
  text-decoration: none; 
  user-select: none;
  background: #d44b38;
  padding: .7em 1.5em;
}

.clear-button:hover {
  background: #e85f4c;
}

.clear-button:active {
  background: #980f00;
}

.respond-content {
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  font-size: 17px;
  border: 1px solid #e7e7e7;
  text-decoration: none;
  color: #000;
  font-family: Arial;
}

.respond-name {
  color: #000;
  font-family: Arial;
  font-size: 25px;
}

.contacts {
  font-family: Arial;
  font-size: 20px;
  margin: 10px
}

.input-contacts {
  display: flex;
  height: 20px;
  width: 600px;
}

.respond-button {
  width: 105px;
  height: 23px;
  color: #ffffff; 
  text-decoration: none; 
  user-select: none;
  background: #40c781;
  padding: .7em 1.5em;
  
}

.respond-button:hover {
  background: #37af73;
}

.respond-button:active {
  background: #226944;
}